<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h1>ブログ一覧</h1>
      <p><%= notice %></p>

      <table>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
        </tr>
        <% @blogs.each do |blog| %>
          <tr>
            <td><%= blog.title %></td>
            <td><%= blog.content %></td>
          </tr>

          <tr>
            <td><%= link_to '詳細', blog_path(blog.id), class:'btn outline btn-primary' %></td>
            <td><%= link_to '編集', edit_blog_path(blog.id), data: {confirm: '本当に編集しますか？'}, class: 'btn outline btn-info' %></td>
            <td><%= link_to '削除', blog_path(blog.id),method: :delete, data: {confirm: '本当に削除しますか？'}, class:'btn outline btn-dander' %></td>
          </tr>
        <% end %>
      </table>
      <br>
      <%= link_to '新しくブログを作成する', new_blog_path, class:'new_blog' %>
    </div>
  </div>
</div>
