<%= image_tag @user.icon %>
<h1><%= @user.name %>のブログ</h1>
<p><%= notice %></p>
<h3>お気に入りしたブログ</h3>
<table>
  <% @user.favorite_blogs.each do |blog| %>
  <tr>
    <th>投稿者:<%= blog.user.name %></th>
    <th>タイトル:<%= blog.title %></th>
    <th>内容:<%= blog.content %></th>
    <th>
      <%= image_tag blog.image %>
      </th>
    </tr>
    <% end %>
    </table>
<br>
